In [1]:
import pandas as pd

In [2]:
filename = 'data/H-1B_FY14_Q4.xlsx'

In [4]:
with open(filename, 'rb') as f:
    df = pd.read_excel(f, sheetname='H-1B_FY2014')
df.head()

,LCA_CASE_NUMBER,STATUS,LCA_CASE_SUBMIT,DECISION_DATE,VISA_CLASS,LCA_CASE_EMPLOYMENT_START_DATE,LCA_CASE_EMPLOYMENT_END_DATE,LCA_CASE_EMPLOYER_NAME,LCA_CASE_EMPLOYER_ADDRESS,LCA_CASE_EMPLOYER_CITY,...,OTHER_WAGE_SOURCE_1,YR_SOURCE_PUB_1,LCA_CASE_WORKLOC2_CITY,LCA_CASE_WORKLOC2_STATE,PW_2,PW_UNIT_2,PW_SOURCE_2,OTHER_WAGE_SOURCE_2,YR_SOURCE_PUB_2,LCA_CASE_NAICS_CODE
0,I-200-09106-546545,CERTIFIED-WITHDRAWN,2013-01-18 18:05:43,2014-09-29 15:59:50,H-1B,2013-02-01,2016-02-01,TEXAS STATE UNIVERSITY-SAN MARCOS,601 UNIVERSITY DRIVE,SAN MARCOS,...,OFLC ONLINE DATA CENTER,2013,ST. LOUIS,MO,49566,Year,OES,OFLC ONLINE DATA CENTER,OFLC ONLINE DATA CENTER,611310
1,I-200-09162-143337,CERTIFIED,2014-03-17 11:11:45,2014-03-21 23:11:51,H-1B,2014-09-15,2017-09-15,"EYE SPECIALISTS OF INDIANA, P.C.",1901 N. MERIDIAN ST.,INDIANAPOLIS,...,OFLC ONLINE DATA CENTER,2013,INDIANAPOLIS,IN,64251,Year,Other,OFLC ONLINE DATA CENTER,OFLC ONLINE DATA CENTER,621320
2,I-200-09182-550211,DENIED,2014-03-14 17:05:01,2014-03-20 16:59:49,H-1B,2014-04-01,2015-04-01,"LHB, INC.",21 WEST SUPERIOR STREET,DULUTH,...,OFLIC ONLINE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541330
3,I-200-09193-873099,CERTIFIED,2014-03-01 12:37:02,2014-03-06 22:03:37,H-1B,2014-08-28,2017-08-27,"WAM USA, INC.",75 BOULDERBROOK CIRCLE,LAWRENCEVILLE,...,OFLC ONLINE DATA CENTER,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333922
4,I-200-09197-120609,CERTIFIED-WITHDRAWN,2014-03-10 15:33:41,2014-03-17 10:52:46,H-1B,2014-09-01,2017-09-01,"DFUSE TECHNOLOGIES, INC.",20143 DESERT FOREST DRIVE,ASHBURN,...,OFLC ONLINE DATA CENTER,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541519

In [5]:
df.columns

Index(['LCA_CASE_NUMBER', 'STATUS', 'LCA_CASE_SUBMIT', 'DECISION_DATE',
       'VISA_CLASS', 'LCA_CASE_EMPLOYMENT_START_DATE',
       'LCA_CASE_EMPLOYMENT_END_DATE', 'LCA_CASE_EMPLOYER_NAME',
       'LCA_CASE_EMPLOYER_ADDRESS', 'LCA_CASE_EMPLOYER_CITY',
       'LCA_CASE_EMPLOYER_STATE', 'LCA_CASE_EMPLOYER_POSTAL_CODE',
       'LCA_CASE_SOC_CODE', 'LCA_CASE_SOC_NAME', 'LCA_CASE_JOB_TITLE',
       'LCA_CASE_WAGE_RATE_FROM', 'LCA_CASE_WAGE_RATE_TO',
       'LCA_CASE_WAGE_RATE_UNIT', 'FULL_TIME_POS', 'TOTAL_WORKERS',
       'LCA_CASE_WORKLOC1_CITY', 'LCA_CASE_WORKLOC1_STATE', 'PW_1',
       'PW_UNIT_1', 'PW_SOURCE_1', 'OTHER_WAGE_SOURCE_1', 'YR_SOURCE_PUB_1',
       'LCA_CASE_WORKLOC2_CITY', 'LCA_CASE_WORKLOC2_STATE', 'PW_2',
       'PW_UNIT_2', 'PW_SOURCE_2', 'OTHER_WAGE_SOURCE_2', 'YR_SOURCE_PUB_2',
       'LCA_CASE_NAICS_CODE'],
      dtype='object')

In [8]:
keep_list = ['STATUS', 'LCA_CASE_SUBMIT', 'DECISION_DATE', 
             'LCA_CASE_EMPLOYMENT_START_DATE', 'LCA_CASE_EMPLOYMENT_END_DATE',
             'LCA_CASE_EMPLOYER_NAME', 'LCA_CASE_EMPLOYER_CITY', 'LCA_CASE_EMPLOYER_STATE',
             'LCA_CASE_EMPLOYER_POSTAL_CODE', 'LCA_CASE_SOC_NAME', 'LCA_CASE_JOB_TITLE',
             'LCA_CASE_WAGE_RATE_FROM', 'LCA_CASE_WAGE_RATE_TO', 'LCA_CASE_WAGE_RATE_UNIT',
             'FULL_TIME_POS', 'TOTAL_WORKERS','LCA_CASE_WORKLOC1_CITY', 'LCA_CASE_WORKLOC1_STATE']

In [9]:
df = df[keep_list]

In [12]:
df[['STATUS', 'LCA_CASE_SUBMIT']].groupby('STATUS').count().sort('LCA_CASE_SUBMIT')

                     LCA_CASE_SUBMIT
STATUS
INVALIDATED                        1
REJECTED                           2
DENIED                         11938
WITHDRAWN                      16069
CERTIFIED-WITHDRAWN            36350
CERTIFIED                     455144

In [26]:
df['DECISION_TIME']=df['DECISION_DATE'] - df['LCA_CASE_SUBMIT']
df.head()

,STATUS,LCA_CASE_SUBMIT,DECISION_DATE,LCA_CASE_EMPLOYMENT_START_DATE,LCA_CASE_EMPLOYMENT_END_DATE,LCA_CASE_EMPLOYER_NAME,LCA_CASE_EMPLOYER_CITY,LCA_CASE_EMPLOYER_STATE,LCA_CASE_EMPLOYER_POSTAL_CODE,LCA_CASE_SOC_NAME,LCA_CASE_JOB_TITLE,LCA_CASE_WAGE_RATE_FROM,LCA_CASE_WAGE_RATE_TO,LCA_CASE_WAGE_RATE_UNIT,FULL_TIME_POS,TOTAL_WORKERS,LCA_CASE_WORKLOC1_CITY,LCA_CASE_WORKLOC1_STATE,DECISION_TIME,DECISION_TIME_DAYS
0,CERTIFIED-WITHDRAWN,2013-01-18 18:05:43,2014-09-29 15:59:50,2013-02-01,2016-02-01,TEXAS STATE UNIVERSITY-SAN MARCOS,SAN MARCOS,TX,78666,"Biological Scientists, All Other",POSTDOCTORAL RESEARCH ASSOCIATE,50000,60000,Year,Y,1,SAN MARCOS,TX,618 days 21:54:07,618
1,CERTIFIED,2014-03-17 11:11:45,2014-03-21 23:11:51,2014-09-15,2017-09-15,"EYE SPECIALISTS OF INDIANA, P.C.",INDIANAPOLIS,IN,46202,Optometrists,OPTOMETRIST,65000,NaN,Year,Y,1,INDIANAPOLIS,IN,4 days 12:00:06,4
2,DENIED,2014-03-14 17:05:01,2014-03-20 16:59:49,2014-04-01,2015-04-01,"LHB, INC.",DULUTH,MN,55802,Actors,FOOD SAFETY SCIENTIST,50000,NaN,Year,Y,1,FARG,WI,5 days 23:54:48,5
3,CERTIFIED,2014-03-01 12:37:02,2014-03-06 22:03:37,2014-08-28,2017-08-27,"WAM USA, INC.",LAWRENCEVILLE,GA,30045,Accountants and Auditors,INTERNATIONAL ACCOUNTANT,48000,NaN,Year,Y,1,LAWRENCEVILLE,GA,5 days 09:26:35,5
4,CERTIFIED-WITHDRAWN,2014-03-10 15:33:41,2014-03-17 10:52:46,2014-09-01,2017-09-01,"DFUSE TECHNOLOGIES, INC.",ASHBURN,VA,20147,Computer Programmers,PROGRAMMER ANALYST,62000,NaN,Year,Y,1,SAN JOSE,CA,6 days 19:19:05,6

In [25]:
df['DECISION_TIME_DAYS']=df['DECISION_TIME'].dt.days
df['DECISION_TIME_DAYS'].head()

0    618
1      4
2      5
3      5
4      6
Name: DECISION_TIME_DAYS, dtype: int64

In [27]:
print(df['DECISION_TIME_DAYS'].mean())
print(df['DECISION_TIME_DAYS'].max())
print(df['DECISION_TIME_DAYS'].min())

34.52812875358034
1747
0

In [28]:
df[['STATUS', 'DECISION_TIME_DAYS']].groupby('STATUS').mean()

                     DECISION_TIME_DAYS
STATUS
CERTIFIED                      6.365212
CERTIFIED-WITHDRAWN          355.472985
DENIED                         6.498241
INVALIDATED                  406.000000
REJECTED                       5.500000
WITHDRAWN                    127.013318

In [30]:
df[['LCA_CASE_EMPLOYER_STATE', 'LCA_CASE_WAGE_RATE_FROM', 'LCA_CASE_WAGE_RATE_UNIT']].groupby(['LCA_CASE_WAGE_RATE_UNIT', 'LCA_CASE_EMPLOYER_STATE']).mean()

                                                 LCA_CASE_WAGE_RATE_FROM
LCA_CASE_WAGE_RATE_UNIT LCA_CASE_EMPLOYER_STATE
Bi-Weekly               AK                                   1908.000000
                        AR                                   1887.000000
                        CA                                  13515.056842
                        CO                                   3500.000000
                        DC                                   1968.280000
                        DE                                   1730.760000
                        FL                                   5510.222222
                        GA                                  90314.000000
                        IA                                  44340.000000
                        IL                                   2219.935000
                        KS                                   2223.000000
                        LA                                   1550.000000
                        MA                                   2707.465714
                        MD                                   2281.147500
                        MI                                  32189.925000
                        MN                                    750.000000
                        MS                                    700.000000
                        NC                                   2042.000000
                        NE                                   2186.540000
                        NJ                                  13107.892857
                        NY                                   2226.299412
                        OH                                   3144.232500
                        OR                                   1577.000000
                        PA                                   3900.380000
                        PR                                   1875.000000
                        SD                                   1918.610000
                        TX                                  10650.090000
                        VA                                   2173.960000
                        WV                                   1608.800000
Hour                    AK                                     29.522439
...                                                                  ...
Year                    MO                                  79066.134913
                        MP                                  51587.975062
                        MS                                  86261.249084
                        MT                                  96205.545385
                        NC                                 608064.435165
                        ND                                 145318.493178
                        NE                                  84164.387974
                        NH                                  75265.179628
                        NJ                                  75717.263993
                        NM                                  82567.005282
                        NV                                  83045.687919
                        NY                                  92171.440771
                        OH                                  77455.763668
                        OK                                  74037.068068
                        OR                                  87037.238781
                        PA                                  84708.392902
                        PR                                  64852.500000
                        RI                                  93182.732192
                        SC                                  72136.310687
                        SD                                 112758.429595
                        TN                                  76357.396745
                        TX                                  77082.297821
                        UT                                  77929.545995
                        VA                                  74310.720673
                        VI                                  49116.465517
                        VT                                  83564.872151
                        WA                                 100871.221557
                        WI                                  84456.195554
                        WV                                 122308.886692
                        WY                                  99557.731579

[218 rows x 1 columns]

In [31]:
df[['LCA_CASE_WORKLOC1_STATE', 'LCA_CASE_WAGE_RATE_FROM', 'LCA_CASE_WAGE_RATE_UNIT']].groupby(['LCA_CASE_WAGE_RATE_UNIT', 'LCA_CASE_WORKLOC1_STATE']).mean()

                                                 LCA_CASE_WAGE_RATE_FROM
LCA_CASE_WAGE_RATE_UNIT LCA_CASE_WORKLOC1_STATE
Bi-Weekly               AK                                   1908.000000
                        AR                                   1887.000000
                        CA                                  13143.342000
                        CO                                   3500.000000
                        DC                                   1968.280000
                        DE                                   1730.760000
                        FL                                   5257.527586
                        GA                                  90314.000000
                        IA                                  44340.000000
                        IL                                   2219.935000
                        KS                                   2168.333333
                        KY                                   2387.000000
                        LA                                   1550.000000
                        MA                                   2707.465714
                        MD                                   2281.147500
                        MI                                   2353.850000
                        MN                                    750.000000
                        MS                                    700.000000
                        NC                                   2042.000000
                        NE                                   2186.540000
                        NJ                                   7112.274615
                        NY                                   2326.982500
                        OH                                  32515.386000
                        OR                                   1577.000000
                        PA                                   1720.000000
                        PR                                   1875.000000
                        SD                                   1918.610000
                        TX                                  10650.090000
                        VA                                   2173.960000
                        WV                                   1608.800000
...                                                                  ...
Year                    MO                                  73891.107284
                        MP                                  51378.144337
                        MS                                  81648.953002
                        MT                                  91292.050455
                        NC                                  75784.464707
                        ND                                 103128.056832
                        NE                                  76717.569907
                        NH                                  77320.279605
                        NJ                                  75069.312643
                        NM                                  86121.862409
                        NV                                  77938.556778
                        NY                                  90539.073858
                        OH                                  74358.586525
                        OK                                  73517.532287
                        OR                                  81853.423984
                        PA                                 476561.497285
                        PR                                  67374.794866
                        RI                                  78585.326026
                        SC                                  70461.631370
                        SD                                  88609.195636
                        TN                                  74411.933185
                        TX                                  77054.931243
                        UT                                  73624.968382
                        VA                                 129562.286963
                        VI                                  52342.993714
                        VT                                  78470.859414
                        WA                                  93002.670364
                        WI                                  76231.011915
                        WV                                 112276.273213
                        WY                                 108131.356000

[228 rows x 1 columns]

In [32]:
df_subset = df[(df['LCA_CASE_EMPLOYER_STATE']=='NC')&
              (df['LCA_CASE_WAGE_RATE_UNIT']=='Year')]
df_subset[['LCA_CASE_WAGE_RATE_FROM', 'LCA_CASE_EMPLOYER_NAME']].groupby('LCA_CASE_EMPLOYER_NAME').mean().sort('LCA_CASE_WAGE_RATE_FROM')

                                                    LCA_CASE_WAGE_RATE_FROM
LCA_CASE_EMPLOYER_NAME
KING TIGER ACADEMY, INC.                                       18990.000000
GOLD MEDAL TAEKWONDO ACADEMY USA, LLC.                         20000.000000
ROCKY MOUNT PREPARATORY SCHOOL                                 20000.000000
HIGH POINT CLINICAL TRIALS CENTER, LLC                         23650.000000
WESTCHESTER COUNTRY DAY SCHOOL                                 23700.000000
ORB INVESTMENTS, LLC                                           25000.000000
MONTREAT COLLEGE                                               25250.000000
PAMPER, HUGS, & LUV'S LEARNING CENTER INC.                     25800.000000
GARDNER-WEBB UNIVERSITY                                        27166.666667
PERRY, MORRIS & FLOOD, PLLC                                    27500.000000
GRILLED GINGER VIETNAMESE RESTAURANT INC.                      28000.000000
HOMETOWN SPORTS AMERICA, INC.                                  30000.000000
FLORES & ASSOCIATES, LLC                                       30000.000000
VIETNAMESE EVANGELICAL CHURCH OF NORTH CAROLINA                30000.000000
SMITHFIELD PREMIUM GENETICS INCORPORATED                       30573.000000
PERSONAL HOME CARE OF NORTH CAROLINA, LLC                      31000.000000
BERTIE COUNTY SCHOOLS                                          31560.000000
T AND T COMMUNICATION SERVICES, INC                            32000.000000
OBXDND3, LLC                                                   32000.000000
COZYROC LLC                                                    32427.000000
CASAJOY, INC.                                                  32427.000000
MARKET IN THE BOX, INC.                                        33000.000000
SOUNDS AND COLORS, LLC                                         33290.000000
MURPHY-BROWN LLC                                               33502.538462
ALPHA ACADEMY                                                  33693.333333
BREVARD COLLEGE                                                33833.000000
INTERNATIONAL MONTESSORI SCHOOL                                33870.000000
RICHMOND COUNTY SCHOOLS                                        34000.000000
CHILDREN'S VILLAGE ACADEMY BOARD OF EDUCATION                  34000.000000
VELASQUEZ COMMUNICATIONS CORPORATION                           34362.000000
...                                                                     ...
FAIRCHILD INDUSTRIAL PRODUCTS COMPANY                         175000.000000
NORDFAB LLC                                                   175000.000000
BETA RENEWABLES USA INC.                                      175000.000000
BANK OF AMERICA, NA                                           175000.000000
LOLLY WOLLY DOODLE, INC.                                      175000.000000
HEALTH DECISIONS INC.                                         180000.000000
WILLIAMSTON HOSPITAL CORPORATION                              185000.000000
MOSES CONE PHYSICIAN SERVICES, INC.                           189000.000000
THE MOSES H. CONE MEMORIAL HOSPITAL OPERATING CORP            189000.000000
LEND LEASE US SERVICES, INC.                                  190000.000000
CUMBERLAND COUNTY HOSPITAL SYSTEM, INC.                       191047.000000
KINSTON CARDIOLOGY ASSOCIATES PA                              192296.000000
BEROE, INC.                                                   200000.000000
ECP SOUTH CAROLINA PA                                         200000.000000
CONE HEALTH                                                   200000.000000
BON WORTH, INC.                                               202720.000000
LAZARD ASSET MANAGEMENT LLC                                   210000.000000
LENOIR PHYSICIANS NETWORK LLC                                 211432.000000
SUNTERRACE CASUAL FURNITURE, INC.                             216666.666667
MING YANG WIND POWER USA, INC                                 221760.000000
JOHNSTON MEMORIAL HOSPITAL AUTHORITY                          224690.000000
CAROMONT MEDICAL GROUP, INC.                                  225000.000000
ROWAN DIAGNOSTIC CLINIC, PA                                   240000.000000
CHARLOTTE MECKLENBURGE HOSPITAL AUTHORITY                     243263.702000
CAPITAL GUARDIAN, LLC                                         250000.000000
DEEPGREEN RESOURCES LLC                                       263333.333333
LITÃ½RA CORP.                                                  300000.000000
AMWINS GROUP INC                                              300000.000000
AMSOL PHYSICIANS OF OHIO VALLEY PLLC                          371300.000000
IBM CORPORATION                                              3058483.068213

[1019 rows x 1 columns]

In [34]:
df_subset[df_subset['LCA_CASE_EMPLOYER_NAME']=='IBM CORPORATION'].sort('LCA_CASE_WAGE_RATE_FROM')

,STATUS,LCA_CASE_SUBMIT,DECISION_DATE,LCA_CASE_EMPLOYMENT_START_DATE,LCA_CASE_EMPLOYMENT_END_DATE,LCA_CASE_EMPLOYER_NAME,LCA_CASE_EMPLOYER_CITY,LCA_CASE_EMPLOYER_STATE,LCA_CASE_EMPLOYER_POSTAL_CODE,LCA_CASE_SOC_NAME,LCA_CASE_JOB_TITLE,LCA_CASE_WAGE_RATE_FROM,LCA_CASE_WAGE_RATE_TO,LCA_CASE_WAGE_RATE_UNIT,FULL_TIME_POS,TOTAL_WORKERS,LCA_CASE_WORKLOC1_CITY,LCA_CASE_WORKLOC1_STATE,DECISION_TIME,DECISION_TIME_DAYS
10966,CERTIFIED-WITHDRAWN,2012-06-25 13:18:51,2014-01-06 15:42:01,2012-06-25,2015-06-24,IBM CORPORATION,RTP,NC,27709,"Software Developers, Applications",SENIOR CONSULTANT,5.206800e+04,105708.0,Year,Y,1,EAST PEORIA,IL,560 days 02:23:10,560
94500,CERTIFIED-WITHDRAWN,2013-12-20 11:15:26,2014-09-12 16:37:27,2014-06-17,2017-06-16,IBM CORPORATION,RTP,NC,27709,"Computer Occupations, All Other",APPLICATION DEVELOPMENT SPECIALIST,5.237400e+04,76700.0,Year,Y,1,EAST LANSING,MI,266 days 05:22:01,266
91039,CERTIFIED-WITHDRAWN,2013-12-17 14:05:11,2014-02-19 09:59:30,2014-06-17,2017-06-16,IBM CORPORATION,RTP,NC,27709,"Computer Occupations, All Other",APPLICATION DEVELOPMENT SPECIALIST,5.237400e+04,76700.0,Year,Y,1,EAST LANSING,MI,63 days 19:54:19,63
73091,CERTIFIED-WITHDRAWN,2013-11-22 11:49:06,2013-12-10 09:17:04,2014-05-22,2017-05-21,IBM CORPORATION,RTP,NC,27709,Market Research Analysts and Marketing Special...,SOFTWARE PRODUCT MANAGER,5.430000e+04,110100.0,Year,Y,1,ALLEN,TX,17 days 21:27:58,17
84781,WITHDRAWN,2013-12-10 09:14:53,2013-12-16 11:37:40,2014-06-10,2017-06-09,IBM CORPORATION,RTP,NC,27709,Market Research Analysts and Marketing Special...,SOFTWARE PRODUCT MANAGER,5.430000e+04,110100.0,Year,Y,1,ALLEN,TX,6 days 02:22:47,6
88985,CERTIFIED,2013-12-16 11:37:17,2013-12-20 22:00:35,2014-06-16,2017-06-15,IBM CORPORATION,RTP,NC,27709,Market Research Analysts and Marketing Special...,SOFTWARE PRODUCT MANAGER,5.430000e+04,110100.0,Year,Y,1,ALLEN,TX,4 days 10:23:18,4
367440,DENIED,2014-05-06 12:38:27,2014-05-08 15:47:26,2014-10-31,2017-10-30,IBM CORPORATION,RTP,NC,27709,Computer Systems Analysts,SOFTWARE ENGINEER,5.438400e+04,87012.0,Year,Y,1,CHANTILLY,VA,2 days 03:08:59,2
368484,WITHDRAWN,2014-05-06 12:20:44,2014-05-06 12:39:10,2014-10-31,2017-10-30,IBM CORPORATION,RTP,NC,27709,Computer Systems Analysts,SOFTWARE ENGINEER,5.438400e+04,87012.0,Year,Y,1,CHANTILLY,VA,0 days 00:18:26,0
426409,CERTIFIED,2014-07-01 11:42:42,2014-07-08 22:00:19,2014-07-23,2017-07-22,IBM CORPORATION,DURHAM,NC,27709,Computer Systems Analysts,SENIOR CONSULTANT,5.490000e+04,114000.0,Year,Y,1,JOHNSON CITY,TN,7 days 10:17:37,7
460827,CERTIFIED,2014-08-05 11:48:43,2014-08-12 22:00:51,2014-08-12,2017-08-11,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,SENIOR CONSULTANT,5.490000e+04,114000.0,Year,Y,1,BENTONVILLE,AR,7 days 10:12:08,7
4010,CERTIFIED-WITHDRAWN,2011-08-19 09:03:37,2014-07-07 15:44:37,2011-08-19,2014-08-18,IBM CORPORATION,RTP,NC,27709,Computer Systems Analysts,SENIOR CONSULTANT,5.506800e+04,111792.0,Year,Y,1,HOUSTON,TX,1053 days 06:41:00,1053
414048,CERTIFIED,2014-06-19 10:59:11,2014-06-25 22:00:35,2014-06-26,2017-06-25,IBM CORPORATION,RTP,NC,27709,Management Analysts,MANAGING CONSULTANT,5.528600e+04,115000.0,Year,Y,1,JOHNSON CITY,TN,6 days 11:01:24,6
422082,CERTIFIED,2014-06-26 11:42:56,2014-07-02 22:01:11,2014-07-03,2017-07-02,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,ADVISORY IT SPECIALIST,5.595200e+04,99400.0,Year,Y,1,MOORESVILLE,NC,6 days 10:18:15,6
460853,CERTIFIED,2014-08-05 11:43:45,2014-08-12 22:00:51,2014-08-12,2017-08-11,IBM CORPORATION,DURHAM,NC,27709,"Software Developers, Applications",SENIOR CONSULTANT,5.636800e+04,114000.0,Year,Y,1,MAUMEE,OH,7 days 10:17:06,7
95224,CERTIFIED,2013-12-20 11:18:45,2013-12-27 22:00:30,2014-06-17,2017-06-16,IBM CORPORATION,RTP,NC,27709,"Software Developers, Applications",SOFTWARE ENGINEER ASSOCIATE,5.645100e+04,66414.0,Year,Y,1,LINCOLN,NE,7 days 10:41:45,7
90998,CERTIFIED-WITHDRAWN,2013-12-17 12:26:12,2014-02-10 13:12:45,2014-06-17,2017-06-16,IBM CORPORATION,RTP,NC,27709,"Software Developers, Applications",SOFTWARE ENGINEER ASSOCIATE,5.645100e+04,66414.0,Year,Y,1,LINCOLN,NE,55 days 00:46:33,55
504514,CERTIFIED,2014-09-19 12:59:48,2014-09-25 22:00:24,2014-09-26,2017-09-25,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,SENIOR CONSULTANT,5.715800e+04,114000.0,Year,Y,1,PORTLAND,ME,6 days 09:00:36,6
502799,CERTIFIED,2014-09-17 12:25:54,2014-09-23 22:00:51,2014-10-01,2017-09-30,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,SENIOR CONSULTANT,5.715800e+04,114000.0,Year,Y,1,PORTLAND,ME,6 days 09:34:57,6
494418,CERTIFIED,2014-09-09 11:43:32,2014-09-16 22:00:28,2014-10-01,2017-09-30,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,SENIOR CONSULTANT,5.715800e+04,114000.0,Year,Y,1,FREEPORT,ME,7 days 10:16:56,7
438933,CERTIFIED,2014-07-15 09:22:05,2014-07-22 22:00:47,2014-07-23,2017-07-22,IBM CORPORATION,DURHAM,NC,27709,"Software Developers, Applications",ADVISORY APPLICATION DEVELOPER PROGRAMMER SPEC...,5.757400e+04,106400.0,Year,Y,1,TALLAHASSEE,FL,7 days 12:38:42,7
44085,WITHDRAWN,2013-10-24 00:33:47,2013-10-24 00:37:33,2013-11-01,2016-10-31,IBM CORPORATION,RTP,NC,27709,"Computer Occupations, All Other",ASSOCIATE PROJECT MANAGER,5.780000e+04,117300.0,Year,Y,1,MENOMONEE FALLS,WI,0 days 00:03:46,0
329798,CERTIFIED,2014-04-02 11:33:07,2014-04-09 22:02:07,2014-04-10,2017-04-09,IBM CORPORATION,DURHAM,NC,27709,Computer Systems Analysts,SENIOR CONSULTANT,5.790700e+04,107800.0,Year,Y,1,BATON ROUGE,LA,7 days 10:29:00,7
326576,CERTIFIED,2014-03-31 10:20:39,2014-04-04 22:01:03,2014-04-08,2017-04-07,IBM CORPORATION,DURHAM,NC,27709,Computer Systems Analysts,SENIOR CONSULTANT,5.794900e+04,114000.0,Year,Y,1,TULSA,OK,4 days 11:40:24,4
135545,DENIED,2014-02-04 10:35:00,2014-02-06 13:22:31,2014-07-13,2017-07-12,IBM CORPORATION,RTP,NC,27709,Computer Systems Analysts,SENIOR CONSULTANT,5.830800e+04,127500.0,Year,Y,1,DALLAS,TX,2 days 02:47:31,2
335290,WITHDRAWN,2014-04-07 12:44:53,2014-04-08 12:17:53,2014-04-15,2017-04-14,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,SENIOR CONSULTANT,5.873900e+04,108000.0,Year,Y,1,ESSEX JUNCTION,VT,0 days 23:33:00,0
336655,CERTIFIED,2014-04-08 11:40:15,2014-04-14 22:00:58,2014-04-16,2017-04-15,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,SENIOR CONSULTANT,5.873900e+04,108000.0,Year,Y,1,ESSEX JUNCTION,VT,6 days 10:20:43,6
408412,CERTIFIED,2014-06-13 10:58:27,2014-06-20 21:09:19,2014-06-20,2017-06-19,IBM CORPORATION,RTP,NC,27709,Computer Systems Analysts,SENIOR CONSULTANT,5.929800e+04,100000.0,Year,Y,1,ASHLAND CITY,TN,7 days 10:10:52,7
461178,CERTIFIED,2014-08-05 12:02:33,2014-08-12 22:00:51,2014-08-12,2017-08-11,IBM CORPORATION,DURHAM,NC,27709,Computer Systems Analysts,SENIOR CONSULTANT,5.929800e+04,100714.8,Year,Y,1,NASHVILLE,TN,7 days 09:58:18,7
423550,CERTIFIED,2014-06-30 09:48:06,2014-07-07 22:00:53,2014-07-07,2017-07-06,IBM CORPORATION,DURHAM,NC,27709,"Software Developers, Applications",ADVISORY APPLICATION DEVELOPER PROGRAMMER SPEC...,5.938400e+04,106400.0,Year,Y,1,TALLAHASSEE,FL,7 days 12:12:47,7
191866,CERTIFIED-WITHDRAWN,2014-02-27 14:19:20,2014-09-12 16:30:50,2014-08-27,2017-08-26,IBM CORPORATION,RTP,NC,27709,"Computer Occupations, All Other",STAFF SOFTWARE ENGINEER,5.953000e+04,100100.0,Year,Y,1,PITTSBURGH,PA,197 days 02:11:30,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90590,WITHDRAWN,2013-12-17 09:49:54,2013-12-17 09:51:50,2014-06-02,2017-06-01,IBM CORPORATION,RTP,NC,27709,Architectural and Engineering Managers,SENIOR DEVELOPMENT MANAGER,1.611600e+05,NaN,Year,Y,1,SAN JOSE,CA,0 days 00:01:56,0
91480,WITHDRAWN,2013-12-17 09:53:29,2013-12-19 10:25:10,2014-06-02,2017-06-01,IBM CORPORATION,RTP,NC,27709,Architectural and Engineering Managers,SENIOR DEVELOPMENT MANAGER,1.611600e+05,NaN,Year,Y,1,SAN JOSE,CA,2 days 00:31:41,2
380140,CERTIFIED,2014-05-16 10:52:16,2014-05-22 22:00:52,2014-05-26,2017-05-25,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,MANAGING CONSULTANT,1.615188e+05,NaN,Year,Y,1,BRADENTON,FL,6 days 11:08:36,6
26697,CERTIFIED,2013-09-23 09:00:55,2013-10-22 22:00:50,2014-02-28,2017-02-27,IBM CORPORATION,RTP,NC,27709,Computer and Information Systems Managers,"MANAGER, INDUSTRY SOLUTIONS SERVICES ENABLEMENT",1.617640e+05,NaN,Year,Y,1,DUBLIN,OH,29 days 12:59:55,29
377257,CERTIFIED,2014-05-14 10:24:42,2014-05-20 22:01:05,2014-10-19,2017-10-18,IBM CORPORATION,DURHAM,NC,27709,Computer Systems Analysts,SENIOR MANAGING CONSULTANT,1.619500e+05,NaN,Year,Y,1,ENGLEWOOD CLIFFS,NJ,6 days 11:36:23,6
23337,CERTIFIED-WITHDRAWN,2013-08-21 12:20:58,2014-07-07 08:36:24,2014-02-19,2017-02-18,IBM CORPORATION,RTP,NC,27709,Management Analysts,ASSOCIATE PARTNER,1.620000e+05,NaN,Year,Y,1,AURORA,IL,319 days 20:15:26,319
23310,CERTIFIED-WITHDRAWN,2013-08-21 12:15:33,2014-07-07 08:35:53,2014-02-19,2017-02-18,IBM CORPORATION,RTP,NC,27709,Management Analysts,ASSOCIATE PARTNER,1.620000e+05,NaN,Year,Y,1,OAKBROOK TERRACE,IL,319 days 20:20:20,319
23326,CERTIFIED-WITHDRAWN,2013-08-21 12:02:13,2014-07-07 08:35:28,2014-02-19,2017-02-18,IBM CORPORATION,RTP,NC,27709,Management Analysts,ASSOCIATE PARTNER,1.620000e+05,NaN,Year,Y,1,CHICAGO,IL,319 days 20:33:15,319
23344,CERTIFIED-WITHDRAWN,2013-08-21 12:26:41,2014-07-07 08:36:52,2014-02-19,2017-02-18,IBM CORPORATION,RTP,NC,27709,Management Analysts,ASSOCIATE PARTNER,1.620000e+05,NaN,Year,Y,1,EAGAN,MN,319 days 20:10:11,319
160381,CERTIFIED,2014-02-14 13:31:32,2014-02-21 22:12:52,2014-08-01,2017-07-31,IBM CORPORATION,DURHAM,NC,27709,Operations Research Analysts,SENIOR MANAGING CONSULTANT,1.649170e+05,NaN,Year,Y,1,ATLANTA,GA,7 days 08:41:20,7
516686,CERTIFIED,2014-06-06 16:15:06,2014-06-12 22:00:57,2014-07-01,2016-06-30,IBM CORPORATION,RTP,NC,27709,Computer and Information Systems Managers,"PROGRAM DIRECTOR, EMERGING SOLUTIONS",1.660670e+05,313200.0,Year,Y,1,SAN FRANCISCO,CA,6 days 05:45:51,6
54863,CERTIFIED,2013-11-01 09:30:58,2013-11-07 22:01:20,2014-03-09,2017-03-08,IBM CORPORATION,RTP,NC,27709,"Software Developers, Applications",SENIOR MANAGEMENT CONSULTANT,1.700000e+05,NaN,Year,Y,1,HOUSTON,TX,6 days 12:30:22,6
102971,CERTIFIED-WITHDRAWN,2014-01-07 09:44:02,2014-09-12 17:21:24,2014-07-07,2017-07-06,IBM CORPORATION,RTP,NC,27709,Management Analysts,CONSULT IT SPECIALIST,1.700000e+05,NaN,Year,Y,1,WALTHAM,MA,248 days 07:37:22,248
517020,CERTIFIED,2014-06-20 12:15:52,2014-06-26 22:00:44,2014-12-06,2016-12-05,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,NORTH AMERICAN PREDICTIVE ANALYTICS SEGMENT LE...,1.726400e+05,NaN,Year,Y,1,WALTHAM,MA,6 days 09:44:52,6
433146,CERTIFIED,2014-07-09 13:23:45,2014-07-16 22:00:52,2014-12-17,2017-12-16,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,SENIOR MANAGING CONSULTANT,1.737280e+05,NaN,Year,Y,1,PISCATAWAY,NJ,7 days 08:37:07,7
103517,CERTIFIED,2014-01-07 10:12:44,2014-01-13 22:00:36,2014-07-07,2017-07-06,IBM CORPORATION,RTP,NC,27709,"Computer Occupations, All Other",SENIOR MANAGING CONSULTANT,1.782560e+05,NaN,Year,Y,1,DALLAS,TX,6 days 11:47:52,6
39521,CERTIFIED,2013-10-21 08:09:58,2013-11-04 22:00:40,2013-10-25,2016-10-24,IBM CORPORATION,RESEARCH TRIANGLE PARK,NC,27709,"Software Developers, Applications",SENIOR MANAGING CONSULTANT,1.782564e+05,NaN,Year,Y,1,DALLAS,TX,14 days 13:50:42,14
95174,CERTIFIED-WITHDRAWN,2013-12-20 10:45:28,2014-09-12 17:22:05,2014-06-17,2017-06-16,IBM CORPORATION,RTP,NC,27709,"Software Developers, Applications",STORAGE USER INTERFACE ARCHITECT,1.850556e+05,205004.4,Year,Y,1,SAN JOSE,CA,266 days 06:36:37,266
91452,WITHDRAWN,2013-12-17 12:31:19,2013-12-20 10:48:41,2014-06-17,2017-06-16,IBM CORPORATION,RTP,NC,27709,"Software Developers, Applications",STORAGE USER INTERFACE ARCHITECT,1.850556e+05,205004.4,Year,Y,1,SAN JOSE,CA,2 days 22:17:22,2
402684,CERTIFIED,2014-06-09 11:24:43,2014-06-14 21:09:23,2014-12-08,2017-12-07,IBM CORPORATION,DURHAM,NC,27709,"Software Developers, Applications",ASSOCIATE PARTNER,1.900380e+05,254844.0,Year,Y,1,PISCATAWAY,NJ,5 days 09:44:40,5
396149,CERTIFIED,2014-06-03 13:27:49,2014-06-09 22:01:16,2014-11-12,2017-11-11,IBM CORPORATION,DURHAM,NC,27709,Computer Systems Analysts,ASSOCIATE PARTNER,1.900380e+05,254844.0,Year,Y,1,PISCATAWAY,NJ,6 days 08:33:27,6
518750,CERTIFIED,2014-08-25 11:21:00,2014-08-29 22:01:40,2015-02-01,2017-01-31,IBM CORPORATION,DURHAM,NC,27709,"Software Developers, Applications",ASSOCIATE PARTNER,1.960000e+05,NaN,Year,Y,1,COSTA MESA,CA,4 days 10:40:40,4
518752,CERTIFIED,2014-08-25 11:25:46,2014-08-29 22:01:40,2015-02-01,2017-01-31,IBM CORPORATION,DURHAM,NC,27709,"Software Developers, Applications",ASSOCIATE PARTNER,1.960000e+05,NaN,Year,Y,1,PLEASANTON,CA,4 days 10:35:54,4
170161,CERTIFIED,2014-02-19 12:52:33,2014-02-25 22:39:13,2014-02-27,2017-02-26,IBM CORPORATION,RTP,NC,27709,"Software Developers, Applications",ASSOCIATE PARTNER MGR,1.978716e+05,NaN,Year,Y,1,CLERMONT,KY,6 days 09:46:40,6
395584,CERTIFIED,2014-06-02 13:50:03,2014-06-06 22:00:53,2014-07-01,2017-06-30,IBM CORPORATION,RTP,NC,27709,Computer and Information Systems Managers,"PROGRAM DIRECTOR AND MANAGER, VIRTUAL ASSISTANT",1.981788e+05,231990.0,Year,Y,1,YORKTOWN HEIGHTS,NY,4 days 08:10:50,4
516622,CERTIFIED,2014-06-05 14:02:44,2014-06-11 22:00:45,2014-07-01,2016-06-30,IBM CORPORATION,RTP,NC,27709,Computer and Information Systems Managers,"PROGRAM DIRECTOR AND MANAGER, VIRTUAL ASSISTANT",1.987188e+05,231990.0,Year,Y,1,YORKTOWN HEIGHTS,NY,6 days 07:58:01,6
94278,CERTIFIED,2013-12-19 10:59:31,2013-12-26 22:00:36,2014-06-20,2017-06-19,IBM CORPORATION,RTP,NC,27709,Market Research Analysts and Marketing Special...,ASSOCIATE PARTNER,2.000004e+05,250000.8,Year,Y,1,NEW YORK,NY,7 days 11:01:05,7
349825,CERTIFIED,2014-04-18 13:09:22,2014-04-25 22:00:53,2014-08-28,2017-08-27,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,SENIOR MANAGING CONSULTANT,2.003760e+05,NaN,Year,Y,1,GARRISON,NY,7 days 08:51:31,7
349803,CERTIFIED,2014-04-18 13:05:28,2014-04-25 22:00:53,2014-08-28,2017-08-27,IBM CORPORATION,DURHAM,NC,27709,Management Analysts,SENIOR MANAGING CONSULTANT,2.003760e+05,NaN,Year,Y,1,NEW YORK,NY,7 days 08:55:25,7
498763,WITHDRAWN,2014-09-15 15:43:24,2014-09-16 13:19:33,2015-03-15,2018-03-14,IBM CORPORATION,DURHAM,NC,27709,Computer Programmers,SENIOR SOFTWARE ENGINEER,7.278873e+09,NaN,Year,Y,1,PHILADELPHIA,PA,0 days 21:36:09,0

In [37]:
df[(df['STATUS']=='CERTIFIED')&(df['LCA_CASE_WAGE_RATE_UNIT']=='Year')][['LCA_CASE_WORKLOC1_STATE', 'LCA_CASE_WAGE_RATE_FROM', 'LCA_CASE_WAGE_RATE_UNIT']].groupby(['LCA_CASE_WAGE_RATE_UNIT', 'LCA_CASE_WORKLOC1_STATE']).mean().sort('LCA_CASE_WAGE_RATE_FROM')

                                                 LCA_CASE_WAGE_RATE_FROM
LCA_CASE_WAGE_RATE_UNIT LCA_CASE_WORKLOC1_STATE
Year                    VI                                  51610.234839
                        MP                                  52879.854510
                        PR                                  66378.588571
                        GU                                  69327.901348
                        SC                                  70818.982988
                        HI                                  73049.261671
                        UT                                  73207.688339
                        OH                                  73372.443270
                        AR                                  73456.074070
                        GA                                  73672.408519
                        MI                                  73675.795573
                        ID                                  74327.791460
                        AL                                  74394.829380
                        OK                                  74412.406558
                        MO                                  74480.112513
                        IN                                  74701.514668
                        FL                                  74712.038789
                        NJ                                  74923.493936
                        IL                                  75265.452186
                        TN                                  75291.594097
                        KS                                  75393.330561
                        AZ                                  75900.341521
                        NC                                  75914.969074
                        PA                                  76240.754459
                        WI                                  76394.454216
                        MN                                  76494.127840
                        VA                                  76566.561367
                        NE                                  76603.891522
                        TX                                  76817.781264
                        IA                                  77172.043985
                        CO                                  77707.395566
                        MD                                  77786.195960
                        DE                                  77861.319792
                        NH                                  77990.767319
                        RI                                  78138.117006
                        VT                                  78262.335866
                        NV                                  78896.663581
                        MS                                  79463.486012
                        CT                                  79654.936306
                        KY                                  81082.598380
                        DC                                  81176.647684
                        OR                                  81688.140585
                        LA                                  82139.524468
                        MA                                  82365.015418
                        MT                                  84332.472637
                        NM                                  84345.020031
                        AK                                  88153.325283
                        SD                                  89019.039516
                        NY                                  89501.226400
                        WA                                  93037.534446
                        ME                                  94568.322059
                        CA                                  94798.088536
                        ND                                 105427.271087
                        WV                                 116963.891133
                        WY                                 127041.167907

In [38]:
df_subset = df[(df['STATUS']=='CERTIFIED')& (df['LCA_CASE_WORKLOC1_STATE']=='WY') & (df['LCA_CASE_WAGE_RATE_UNIT']=='Year')]
df_subset[['LCA_CASE_JOB_TITLE', 'LCA_CASE_WAGE_RATE_FROM']].groupby('LCA_CASE_JOB_TITLE').mean().sort('LCA_CASE_WAGE_RATE_FROM')

                                       LCA_CASE_WAGE_RATE_FROM
LCA_CASE_JOB_TITLE
OFFICE ASSOCIATE                                      29120.00
PROJECT COORDINATOR                                   39832.00
RESEARCH ASSOCIATE                                    40000.00
RESEARCH SCIENTIST                                    40000.00
POST DOCTORAL RESEARCHER                              40811.00
POST DOCTORAL SCIENTIST                               42000.00
POSTDOCTORAL RESEARCHER                               42006.00
POSTDOCTORAL RESEARCH ASSOCIATE                       43000.00
POST DOCTORAL ASSOCIATE                               45000.00
DUAL IMMERSION KINDERGARTEN TEACHER                   48982.00
ELECTRICAL ENGINEER - JUNIOR                          49234.00
PROGRAMMER ANALYST                                    50000.00
COST ANALYST                                          50000.00
COST ENGINEER (ANALYST)                               50000.00
ASSISTANT RESEARCH SCIENTIST                          51789.00
INTERIOR DESIGNER                                     55000.00
MARKETING MANAGER                                     56000.00
SOFTWARE ENGINEER                                     56000.00
CHEMIST 3                                             56389.00
SYSTEMS PROGRAMMER, SENIOR                            58356.00
SALES ENGINEER                                        60000.00
SERVICE ENGINEER                                      69300.00
SERVICE ENGINEER - ELECTRICAL                         69300.14
SENIOR ELECTRICAL ENGINEER                            73070.00
NETWORK ENGINEER                                      73542.00
PROCESS ENGINEER                                      79035.00
MEDICAL IMAGING/LINAC ENGINEER                        80080.00
RESEARCH AND DEVELOPMENT SCIENTIST                    81979.30
VALIDATION ENGINEER II                                82000.00
NUTRITION RESEARCH SCIENTIST                          82560.00
MARKETING DIRECTOR                                    85000.00
VISUALIZATION SPECIALIST                              85008.00
ASSISTANT PROFESSOR                                   86643.00
ASSOCIATE RESEARCH SCIENTIST                          87000.00
VISITING INSTRUCTOR                                   90000.00
PRODUCTION ENGINEER I                                 96000.00
PROJECT ENGINEER 5                                    99816.00
CONSULTANT                                           106500.00
HOSPICE PROGRAM MANAGER                              110000.00
CHIEF EXECUTIVE OFFICER                              120000.00
SR. FIELD PROFESSIONAL - OPTIMIZATION                129645.00
PHYSICIAN (PEDIATRICIAN)                             173500.00
ASSOCIATE PROFESSOR                                  180000.00
PHYSICIAN (INTERNAL MEDICINE)                        190000.00
PEDIATRICIAN                                         200000.00
PHYSICIAN (INTERNIST)                                215000.00
HOSPITALIST                                          220000.00
PHYSICIAN (HOSPITALIST)                              220000.00
PROGRAM COORDINATOR                                  220008.00
PHYSICIAN (INFECTIOUS DISEASE)                       225000.00
HOSPITALIST PHYSICIAN                                235200.00
PHYSICIAN, ORTHOPEDICS                               250000.00
PHYSICIAN (NEUROLOGIST)                              250000.00
PHYSICIAN (NEPHROLOGIST)                             250000.00
HEMATOLOGIST/ONCOLOGIST (PHYSICIAN)                  320000.00
PHYSICIAN - CARDIOLOGIST                             350000.00
PHYSICIAN (CARDIOLOGIST)                             505000.00

In [41]:
total_applications_by_state = df[['STATUS', 'LCA_CASE_WORKLOC1_STATE']].groupby('LCA_CASE_WORKLOC1_STATE').count()
total_applications_by_state = total_applications_by_state.reset_index()
total_applications_by_state.columns = ['STATE', 'TOTAL_COUNT']
total_applications_by_state

   STATE  TOTAL_COUNT
0     AK          246
1     AL         1781
2     AR         2329
3     AZ         7307
4     CA        98525
5     CO         5811
6     CT         8917
7     DC         3727
8     DE         3184
9     FL        17644
10    GA        17729
11    GU          263
12    HI          602
13    IA         3168
14    ID          609
15    IL        27412
16    IN         5510
17    KS         2424
18    KY         2170
19    LA         1838
20    MA        19914
21    MD         9602
22    ME          714
23    MH            1
24    MI        13919
25    MN         8998
26    MO         6200
27    MP          174
28    MS          678
29    MT          134
30    NC        13551
31    ND          490
32    NE         1708
33    NH         1676
34    NJ        36783
35    NM          908
36    NV         1231
37    NY        48882
38    OH        13515
39    OK         1846
40    OR         4595
41    PA        19152
42    PR          209
43    RI         2225
44    SC         2085
45    SD          281
46    TN         4584
47    TX        51851
48    UT         2369
49    VA        15475
50    VI           95
51    VT          362
52    WA        17921
53    WI         5530
54    WV          431
55    WY          170

In [43]:
accepted_applications_by_state = df[(df['STATUS'] == 'CERTIFIED') | (df['STATUS'] == 'CERTIFIED-WITHDRAWN')][['STATUS', 'LCA_CASE_WORKLOC1_STATE']].groupby('LCA_CASE_WORKLOC1_STATE').count()
accepted_applications_by_state = accepted_applications_by_state.reset_index()
accepted_applications_by_state.columns = ['STATE', 'ACCEPTED_COUNT']
accepted_applications_by_state

   STATE  ACCEPTED_COUNT
0     AK             230
1     AL            1640
2     AR            2205
3     AZ            6930
4     CA           93026
5     CO            5463
6     CT            8528
7     DC            3485
8     DE            3086
9     FL           16463
10    GA           16880
11    GU             229
12    HI             537
13    IA            3033
14    ID             566
15    IL           26186
16    IN            5220
17    KS            2255
18    KY            2063
19    LA            1693
20    MA           18816
21    MD            8955
22    ME             689
23    MI           13225
24    MN            8570
25    MO            5896
26    MP              99
27    MS             612
28    MT             121
29    NC           12904
30    ND             458
31    NE            1609
32    NH            1608
33    NJ           35071
34    NM             821
35    NV            1149
36    NY           45621
37    OH           12877
38    OK            1716
39    OR            4319
40    PA           18306
41    PR             176
42    RI            2150
43    SC            1951
44    SD             268
45    TN            4376
46    TX           49065
47    UT            2215
48    VA           14699
49    VI              83
50    VT             333
51    WA           17161
52    WI            5312
53    WV             400
54    WY             145

In [45]:
df_merge=pd.merge(left=total_applications_by_state, right=accepted_applications_by_state, how='inner', on='STATE')
df_merge['ACCEPTANCE_RATE']=df_merge['ACCEPTED_COUNT']/df_merge['TOTAL_COUNT']
df_merge

   STATE  TOTAL_COUNT  ACCEPTED_COUNT  ACCEPTANCE_RATE
0     AK          246             230         0.934959
1     AL         1781            1640         0.920831
2     AR         2329            2205         0.946758
3     AZ         7307            6930         0.948406
4     CA        98525           93026         0.944187
5     CO         5811            5463         0.940114
6     CT         8917            8528         0.956375
7     DC         3727            3485         0.935068
8     DE         3184            3086         0.969221
9     FL        17644           16463         0.933065
10    GA        17729           16880         0.952112
11    GU          263             229         0.870722
12    HI          602             537         0.892027
13    IA         3168            3033         0.957386
14    ID          609             566         0.929392
15    IL        27412           26186         0.955275
16    IN         5510            5220         0.947368
17    KS         2424            2255         0.930281
18    KY         2170            2063         0.950691
19    LA         1838            1693         0.921110
20    MA        19914           18816         0.944863
21    MD         9602            8955         0.932618
22    ME          714             689         0.964986
23    MI        13919           13225         0.950140
24    MN         8998            8570         0.952434
25    MO         6200            5896         0.950968
26    MP          174              99         0.568966
27    MS          678             612         0.902655
28    MT          134             121         0.902985
29    NC        13551           12904         0.952254
30    ND          490             458         0.934694
31    NE         1708            1609         0.942037
32    NH         1676            1608         0.959427
33    NJ        36783           35071         0.953457
34    NM          908             821         0.904185
35    NV         1231            1149         0.933387
36    NY        48882           45621         0.933288
37    OH        13515           12877         0.952793
38    OK         1846            1716         0.929577
39    OR         4595            4319         0.939935
40    PA        19152           18306         0.955827
41    PR          209             176         0.842105
42    RI         2225            2150         0.966292
43    SC         2085            1951         0.935731
44    SD          281             268         0.953737
45    TN         4584            4376         0.954625
46    TX        51851           49065         0.946269
47    UT         2369            2215         0.934994
48    VA        15475           14699         0.949855
49    VI           95              83         0.873684
50    VT          362             333         0.919890
51    WA        17921           17161         0.957592
52    WI         5530            5312         0.960579
53    WV          431             400         0.928074
54    WY          170             145         0.852941